* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: #9cffff;
    color: #006363;
}

.header-link {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-weight: 500;
    font-size: 1.33rem;
    color: #007373;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
}
.header-link:hover {
    text-decoration: underline;
}

#header-title {
    margin: 0;
    margin-left: 0.3rem;
    margin-right: 0.75rem;
    margin-bottom: 0.1rem;
    display: inline-block;
    font-weight: 500;
}

#header-title a {
    font-size: 2.05rem;
}

#content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.alert {
    border: 2px solid #68a2a2;
    background-color: #93ffff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}
.alert-title {
    margin: 0;
}
.no-instructions {
    font-style: italic;
}

.connection-status {
    float: right;
    margin-top: .95em;
    margin-right: 1em;
}
